UFL/CMakeCache.txt
UFL/CMakeFiles/
UFL/Makefile
UFL/cmake_install.cmake

UFL/train/CMakeCache.txt
UFL/train/CMakeFiles/
UFL/train/Makefile
UFL/train/cmake_install.cmake

UFL/babel_ClassifyAllScripts
UFL/babel_ClassifyAllScriptsWeighted
UFL/cvsi_ClassifyAllScripts
UFL/cvsi_ClassifyAllScriptsWeighted
UFL/eval.sh
UFL/OutCVSIResults.txt

UFL/train/data/
UFL/train/extract_features
UFL/train/extract_filters
UFL/train/show_filters

ECN/tools/CMakeCache.txt
ECN/tools/CMakeFiles/
ECN/tools/Makefile
ECN/tools/cmake_install.cmake

ECN/tools/compute_image_mean_ECN
ECN/tools/convert_imageset_ECN
ECN/tools/eval_siw13
