CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

train/CMakeCache.txt
train/CMakeFiles/
train/Makefile
train/cmake_install.cmake

babel_ClassifyAllScripts
babel_ClassifyAllScriptsWeighted
cvsi_ClassifyAllScripts
cvsi_ClassifyAllScriptsWeighted
eval.sh
OutCVSIResults.txt

train/data/
train/extract_features
train/extract_filters
train/show_filters
