UFL/CMakeCache.txt
UFL/CMakeFiles/
UFL/Makefile
UFL/cmake_install.cmake

UFL/train/CMakeCache.txt
UFL/train/CMakeFiles/
UFL/train/Makefile
UFL/train/cmake_install.cmake

UFL/babel_ClassifyAllScripts
UFL/babel_ClassifyAllScriptsWeighted
UFL/cvsi_ClassifyAllScripts
UFL/cvsi_ClassifyAllScriptsWeighted
UFL/eval.sh
UFL/OutCVSIResults.txt

UFL/train/data/
UFL/train/extract_features
UFL/train/extract_filters
UFL/train/show_filters

ECN/CMakeCache.txt
ECN/CMakeFiles/
ECN/Makefile
ECN/cmake_install.cmake
